this is a remix v2 app with cloudflare pages. so don't use @remix-run/node!!!

use loader and action

loader should return object dont return json({}) which deprecates just straight up return the object